@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0 0 55px 0;   
    font-family: 'Open Sans', sans-serif;
}

/* navigation til mobil */ 
.navbar {
    overflow: hidden;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
 
    
   display: flex; 
    overflow: hidden;
}
.nav__link {
    float: left;
    display: block;
    color: #444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.1s ease-in-out;

}
.nav__link:hover {
    background-color: #eee;
}
.nav__icon {
    font-size: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
/* portfolio galleri styling */
.portfolio-work h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Fredericka the Great', cursive;;
    }
    .img-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    .single-img {
        padding: 0 20px 20px;
    }
    .single-img img {
        width: 400px;
    }
    .img-3 img {
        width: 210px;
        padding: 0 20px 20px;
    }
    .img-7 img {
        width: 410px;
    }
    
    .title {
        color: grey;
    }
    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #34558b;
        text-align: center;
        cursor: pointer;
        width: 100%;
        text-decoration: none;
      }
      .button:hover {
        background-color: #444;
      }